extends ./index.pug

block main
	h1 About

	p This game was started for the F# Game Jam.
	p I only found out about the game jam during the Focus on F# .NET Conf, so I was very thankful they extended it.

	//- h2 Inspiration
